.conf-title{
  color: @dark-blue;
}
.conf{
  background: @white;
  padding: 1em;
  margin-bottom: 1em;
  box-shadow: 2px 2px rgba(0,0,0,0.2);
  text-align: center;
  a.title{
    text-decoration: none;
    color: @yellow;
    h2{
      font-weight: 800;
    }

    &:hover{
      color: darken(@yellow, 15%);
    }
  }
}
